@model EmpoyeeCRM.Models.Employee

<div class="container mt-5">
    <div class="card shadow p-4">
        <h2 class="text-center mb-4">Create Employee</h2>

        <form asp-action="Create" method="post">

            <div asp-validation-summary="All" class="text-danger mb-3"></div>

            <!-- Name -->
            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" placeholder="Enter Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <!-- Email -->
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" placeholder="Enter Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <!-- Department -->
            <div class="mb-3">
                <label asp-for="Department" class="form-label"></label>
                <input asp-for="Department" class="form-control" placeholder="Enter Department" />
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>

            <!-- Experience -->
            <div class="mb-3">
                <label asp-for="ExperienceYears" class="form-label"></label>
                <input asp-for="ExperienceYears" class="form-control" placeholder="Enter Experience" />
                <span asp-validation-for="ExperienceYears" class="text-danger"></span>
            </div>

            <!-- Button -->
            <div class="d-grid">
                <button type="submit" class="btn btn-primary btn-lg">
                    Save Employee
                </button>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}