body {
    font-family: Verdana, sans-serif;
}

.features h2 {
    text-align: center;
}

.features ul {
    list-style-type: none;
    padding: 0;
}

.feature-item {
    background-color: lightgray;
    padding: 10px;
    margin: 10px;
    border: 1px solid gray;
}

.feature-item:hover {
    background-color: lightblue;
}
